@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat-bold.woff2") format("woff2"),
        url("../fonts/montserrat-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat-semibold.woff2") format("woff2"),
        url("../fonts/montserrat-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat-regular.woff2") format("woff2"),
        url("../fonts/montserrat-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat-medium.woff2") format("woff2"),
        url("../fonts/montserrat-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
/*    min-width: 1366px;  */
    margin: 0 auto;
    background: #F9FBFD;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.conteiner {
    width: 88%;
   max-width: 1160px;
    margin: 0 auto;
}
.logo {
    width: 70px;
    height: 38px;
}
.title {
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.heading {
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 28px;
    font-style: normal;
    color: #011C40;
}
.caption {
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-style: normal;
}
.text {
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menu, .social, .contact {
    list-style: none;
}
.menu li, .social li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
.btn {
    background: #F9FBFD;
    text-align: center;
    text-decoration: none;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    font-style: normal;
    color: #011C40;
}
.btn:hover, .btn:focus {
    cursor: pointer;
    opacity: .8;
}

/* HEADER */
.header__basic {
    position: absolute;
    width: 100%;
    top: 35px;
    right: 0;
    left: 0;
}
.header__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
}  /*
.header__logo {
    margin-left: 8px;
}  
.header__menu li:last-child {
    margin-right: -8px;
}  */
.menu__item_link {
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #F9FBFD;  
}
.menu__item_link:hover, .menu__item_link:focus, .menu__item_link:active {
    text-decoration: underline;
}

/* MAIN SCREEN */
.screen__main {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    background: url(../images/main-foto.jpg) no-repeat center center #E3ECF6;
    -webkit-background-size: cover;
    background-size: cover;
}
.screen__title {
    font-size: 54px;
    line-height: 66px;
    color: #F9FBFD;
    padding-left: 95px;
    padding-top: 270px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.subtitle {
    display: block;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #F9FBFD;
    margin: 12px 0;
}

/*  TRAVELS*/
.travels {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin: 120px auto;
}
.travels__foto {
    max-width: 560px;
    flex-basis: 48.28%;
}
.travels__description {
   max-width: 512px;
   flex-basis: 44.14%;
}
.travels__heading {
    text-align: left;
    margin-bottom: 30px;
}
.travels__text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #011C40;
}

/* ADVANTAGE */
.advantages__main {
    width: 100%;
    min-height: 562px;
    background: url(../images/advantages-photo.png) no-repeat center center #E3ECF6;
    -webkit-background-size: cover;
    background-size: cover;
    border-top: .1px solid transparent;
    border-bottom: .1px solid transparent;
}
.advantages__heading {
    text-align: center;
    margin: 112px auto 0;
}
.advantages__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 53px auto 100px;
    list-style: none;
}
.advantage__description {
    flex-basis: 31.04%;
    max-width: 360px;
    position: relative;
    padding: 27px 30px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #F9FBFD;
}
.advantage__description img {
    position: absolute;
    top: 48px;
    transform: translateY(-50%);
}
.advantage__caption {
    color: #011C40;
    margin: 53px auto 10px;
}
.advantage__text {
    font-size: 14px;
    line-height: 20px;
    color: #011C40;
}


/* CRUISE */

.cruises__heading {
    text-align: center;
    margin: 110px auto 0;
}
.cruises__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 38px auto 108px;
}
.cruise {
    position: relative;
    width: 260px;
    height: 380px;
    margin: 18px auto;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%)
}
.cruise__caption {
    position: absolute;
    left: 30px;
    bottom: 16px;
    color: #F9FBFD;
}
.cruise__description {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 28px 25px;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    color: #F9FBFD;
    opacity: 0;
    transition: 1s;
    overflow-y: auto;
}
.cruise:hover .cruise__description {
    opacity: 1;
}
.cruise__description:focus-within {
    opacity: 1;
}
.cruise__description dt, .cruise__description dd {
    font-size: 14px;
    line-height: 20px;
}
.cruise__description dt {
    margin-top: 15px;
}
.cruise__description dd {
    margin-bottom: -3px;
}
.description__btn {
    display: block;
    width: 210px;
    height: 40px;
    padding: 7px 0;
    box-sizing: border-box;
    margin-top: 29px;
    margin-bottom: 25px;
}


/* BOOKING */

.booking__main {
    width: 100%;
    height: 555px;
    background: url(../images/booking-photo.jpg) no-repeat center center #E3ECF6;
    -webkit-background-size: cover;
    background-size: cover;
}
.booking__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    padding: 50px;
}
.booking__description {
    max-width: 515px;
    flex-basis: 44.4%;
    margin-top: -17px;
}
.booking__title {
    font-size: 40px;
    line-height: 60px;
    margin: 7px 0;
    color: #011C40;
}
.booking__text {
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
    padding-right: 130px;
}
.form {
    width: 403px;
    height: 455px;
    flex-shrink: 0;
    background: #011C40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
    padding: 42px 50px;
    box-sizing: border-box;
}
.form__inner {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: -13px;
}
.text__form, .text__tel, .text__email, .title__submit {
    width: 100%;
    height: 43px;
    margin: 10px auto;
    background: #F9FBFD;
}
.text__form, .text__tel, .text__email {
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #011C40;
}
.form__text:hover, .form__text input:hover {
    cursor: pointer;
}  
.form__text input:focus+span, 
.booking__form input:focus {
    opacity: .7;
}  
.form__text input+span {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: #F9FBFD;
    margin-left: -18px;
}  
.form__text input:checked+span {
    background: url(../images/angle.svg) no-repeat center center #F9FBFD;
}
.form__caption {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 13px;
    text-align: left;
    color: #F9FBFD;
}
.form__text {
    display: block;
    position: relative;
    font-size: 10px;
    line-height: 13px;
    color: #F9FBFD;
    padding-left: 19px;
    margin-top: 10px;
    margin-bottom: 20px
}
.title__submit {
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
}


/* CONTACTS */

.contacts__main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 120px 0;
}
iframe {
    max-width: 560px;
    flex-basis: 48.28%;
}
.contacts__content {
    max-width: 500px;
    flex-basis: 44%;
}
.contacts__caption {
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
}
.contact {
    margin-top: 35px;
}
.contact li {
    font-size: 16px;
    line-height: 24px;
    color: #011C40;
}
.phone-number {
    margin-top: 18px;
}
.phone-number a {
    text-decoration: none;
    color: #011C40;
}
.phone-number a:hover, 
.phone-number a:focus, 
.phone-number a:active {
    text-decoration: underline;
}
.contact li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 22px;
    padding-right: 10px;
}
.contact .address::before {
    background: url(../images/location.svg) no-repeat left center;
}
.contact .phone-number::before {
    background: url(../images/phone.svg) no-repeat left center;
}


/* FOOTER */
.footer__basic {
    width: 100%;
    height: 138px;
    background: #011C40;
    border: .1px solid #011C40;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.logo, .footer__menu {
    display: inline-block;
    vertical-align: middle;
}
.footer__logo {
    margin-right: 24px;
}
.footer__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}
.footer__social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.footer__social li:last-child {
    margin-right: 0;
}
.footer__social li a:hover {
    cursor: pointer;
    opacity: .7;
}
.footer__social li a:focus, 
.footer__social li a:active {
    opacity: .7;
}
.footer__social li a {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.footer__social li a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -8px;
}
.social__fb::before {
    background: url(../images/fb.svg) no-repeat center center;
}
.social__instagram::before {
    background: url(../images/instagram.svg) no-repeat center center;
}
.social__tweeter::before {
    background: url(../images/tweeter.svg) no-repeat center center;
}

@media (max-width: 1170px) {
    .address span {
        display: block;
        margin-left: 30px;
    }
}