@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
        url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
        url('../fonts/montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
        url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 1366px;
    margin: 0 auto;
    background: #E5E5E5;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.conteiner {
    width: 1160px;
    margin: 0 auto;
}
.title {
    font-family: 'montserrat-bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.heading {
    font-family: 'montserrat-semiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    color: #011C40;
    letter-spacing: 2.6px;
}
.caption {
    font-family: 'montserrat-medium', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.text {
    font-family: 'montserrat-regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.menu, .social, .contact {
    list-style: none;
}
.menu li, .social li {
    display: inline-block;
    vertical-align: center;
    margin: 0 15px;
}

/* HEADER */
.header__basic {
    position: absolute;
    width: 100%;
    top: 32px;
    left: 9px
}
.header__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
}
.logo {
    width: 70px;
    height: 38px;
 }
.header__menu li:first-child {
    margin-left: 0;
}
.header__menu li:last-child {
    margin-right: 0px;
}
.menu__item_link {
    font-family: 'montserrat-medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    text-decoration: none;
    color: #F9FBFD;  
}
.menu__item_link:hover {
    text-decoration: underline;
}

/* MAIN SCREEN */
.screen__main {
    width: 100%;
    height: 644px;
    background: url(../images/main-foto.jpg) no-repeat center center;
}
.screen__heading {
    position: absolute;
    width: 100%;
    top: 266px;
    letter-spacing: normal;
}
.screen__title {
    font-size: 54px;
    line-height: 66px;
    color: #F9FBFD;
    padding-left: 105px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.subtitle {
    display: block;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    color: #F9FBFD;
    margin: 12px 0;
}

/*  TRAVELS*/
.travels {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin: 120px auto;
}
.travels__description {
    width: 512px;
}
.travels__heading {
    text-align: left;
    margin-bottom: 30px;
}
.travels__text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #011C40;
}

/* ADVANTAGE */
.advantages__main {
    width: 100%;
    height: 562px;
    background: url(../images/advantages-photo.png);
    border-top: .1px solid transparent;
}
.advantages__heading {
    text-align: center;
    margin: 115px auto 0;
}
.advantages__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 60px auto 120px;
    list-style: none;
}
.advantage__description {
    width: 360px;
    position: relative;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #F9FBFD;
}
.advantage__description img {
    position: absolute;
    top: 40px;
    transform: translateY(-50%);
}
.advantage__caption {
    color: #011C40;
    margin: 47px auto 10px;
}
.advantage__text {
    font-size: 14px;
    line-height: 20px;
    color: #011C40;
}


/* CRUISE */

.cruises__heading {
    text-align: center;
    margin: 115px auto 0;
}
.cruises__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 40px auto 110px;
}
.cruise {
    position: relative;
    width: 260px;
    height: 380px;
    margin: 16px auto;
    position: relative;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%)
}
.cruise__caption {
    position: absolute;
    left: 30px;
    bottom: 16px;
    color: #F9FBFD;
}
.cruise__description {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 26px 30px;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    color: #F9FBFD;
    opacity: 0;
    transition: 1s;
}
.cruise__description:hover {
    opacity: 1;
}
.cruise__description dt, .cruise__description dd {
    font-size: 14px;
    line-height: 20px;
}
.cruise__description dt {
    margin-top: 15px;
}
.description__btn {
    display: block;
    width: 210px;
    height: 40px;
    background: #F9FBFD;
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat-semiBold', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    font-style: normal;
    color: #011C40;
    padding: 10px 0;
    box-sizing: border-box;
    margin-top: 20px;
}


/* BOOKING */

.booking__main {
    width: 100%;
    height: 565px;
    background: url(../images/booking-photo.jpg) no-repeat center center;
}
.booking__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    padding: 55px;
}
.booking__description {
    width: 515px;
}
.booking__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 7px;
    color: #011C40;
}
.booking__text {
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
}
.form {
    width: 403px;
    height: 455px;
    background: #011C40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
    padding: 45px 50px;
    box-sizing: border-box;
}
fieldset {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: -13px;
}
[name="username"], [name="phone-number"], [name="email-address"], [name="submit"] {
    width: 100%;
    height: 43px;
    margin: 10px auto;
    background: #F9FBFD;
}
[name="username"], [name="phone-number"], [name="email-address"] {
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
    box-sizing: border-box;
    color: #011C40;
}
[name="submit"] {
    cursor: pointer;
}
.form__text input {
    visibility: hidden;
    margin-top: 8px;
    margin-bottom: 25px;
}
.form__text input+span {
    display: inline-block;
    vertical-align: center;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background: #F9FBFD;
    margin: -5px 0 -5px -12px;
}
.form__text input:checked+span {
    background: url(../images/angle.svg) no-repeat center center #F9FBFD;
}
.form__caption {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 13px;
    text-align: left;
    color: #F9FBFD;
}
.form__text {
    font-size: 10px;
    line-height: 13px;
    color: #F9FBFD;
}
.title__submit {
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
}


/* CONTACTS */

.contacts__main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 120px 0;
}
.contacts__content {
    width: 500px;
}
.contacts__caption {
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
}
.contact {
    margin-top: 27px;
}
.contact li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #011C40;
}
.contact li::before {
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 18px;
    height: 22px;
    padding-right: 10px;
    transform: translateY(25%);
}
.contact .address::before {
    background: url(../images/location.svg) no-repeat left center;
}
.contact .phone-number::before {
    background: url(../images/phone.svg) no-repeat left center;
}


/* FOOTER */
.footer__basic {
    width: 100%;
    height: 138px;
    background: #011C40;
    border: .1px solid #011C40;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.logo, .footer__menu {
    display: inline-block;
    vertical-align: center;
}
.footer__logo {
    margin-right: 24px;
}
.footer__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}
.footer__social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.footer__social li:last-child {
    margin-right: 0;
}
.footer__social li a:hover {
    cursor: pointer;
    opacity: .7;
}

